:root {
	--blue-300: hsl(227, 12%, 61%);
	--blue-text: hsl(228, 8%, 46%);

	--blue-400: hsl(228, 39%, 23%);

	--blue-600: hsl(233, 12%, 13%);

	--accent: hsl(12, 88%, 59%);

	--light-accent: hsl(13, 100%, 96%);

	--grey: hsl(0, 0%, 98%);

	--black: hsl(0, 0%, 0%);
	--white: hsl(0, 0%, 100%);
}

$v-4k: 156.25em; // 2500px
$v-20: 125em; ////2000px
$v-14: 85.375em; //1366px
$v-12: 75em; //1200px
$v-10: 62.5em; //1000px
$v-9: 56.25rem; //900px
$v-8: 48rem; // 768px
$v-6: 35.5em; //568px
$v-3: 20em; //320px
